.Color{
  width: 80px;
  height: 80px;
  border-radius: 50px;
  margin-right: 2rem;
  cursor: pointer;
  transition: 300ms all;
  border: none;
}

.active{
  transform: scale(1.15);
  box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.08);
}
